---
// PanelHome.astro
---
<div class="tab-panel" id="panel-home">
  <div class="home-grid">
    <div class="home-widget home-widget-welcome">
      <div class="hw-label" data-i18n="home">Inicio</div>
      <div class="hw-title" id="homeGreeting" data-i18n="collection">Tu colección</div>
      <div class="hw-sub" id="homeSubtitle"></div>
    </div>
    <div class="home-widget">
      <div class="hw-label" data-i18n="qualityDist">Distribución de calidad</div>
      <div class="home-quality-bars" id="homeQualityBars"></div>
    </div>
    <div class="home-widget">
      <div class="hw-label" data-i18n="totalCards">Resumen</div>
      <div class="home-stats-list" id="homeStatsList"></div>
    </div>
    <div class="home-widget home-widget-wide">
      <div class="hw-label" data-i18n="topSeries">Series más representadas</div>
      <div class="home-top-series" id="homeTopSeries"></div>
    </div>
    <div class="home-widget home-widget-wide">
      <div class="hw-label" data-i18n="recentCards">Últimas cartas obtenidas</div>
      <div class="home-recent" id="homeRecent"></div>
    </div>
  </div>
</div>
